.about-page {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: -webkit-fill-available;
  width: 100%;
  position: relative;
  overflow: hidden;

  .description {
    padding: 1.5em 2em;
    width: 25vw;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: .25px;
    z-index: 2;
    height: fit-content;
    align-self: center;

    .findr {
      color: var(--primary-color);
      font-weight: 600;
    }

    .row {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      .label {
        font-weight: 600;
        white-space: nowrap;
        font-size: 1.25em;
        margin-bottom: 10px;
      }
    }
  }

  .svg {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: .5;
    height: 130vh;
    width: 130vw;
    top: -15vh;
    left: -20vw;

    svg {
      padding: 1em;
      z-index: 1;
    }


    path {
      stroke-width: 1;
      stroke: rgba(0, 0, 0, 0.5);
      fill: transparent;

      &:nth-child(1) {
        stroke-dashoffset: 385.0559387207031;
        stroke-dasharray: 385.0559387207031;
        animation: path-1 6s ease-in-out .5s infinite;
      }

      &:nth-child(2) {
        stroke-dashoffset: 221.47203063964844;
        stroke-dasharray: 221.47203063964844;
        animation: path-2 6s ease-in-out .5s infinite;
      }

      &:nth-child(3) {
        stroke-dashoffset: 613.442749023437;
        stroke-dasharray: 613.442749023437;
        animation: path-3 6s ease-in-out .5s infinite;
      }

      &:nth-child(4) {
        stroke-dashoffset: 326.978394;
        stroke-dasharray: 326.978394;
        animation: path-4 6s ease-in-out .5s infinite;
      }

      &:nth-child(5) {
        stroke-dashoffset: 406.88147;
        stroke-dasharray: 406.88147;
        animation: path-5 6s ease-in-out .5s infinite;
      }
    }
  }
}

@keyframes path-1 {
  0% {
    stroke-dashoffset: 385.0559387207031;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 385.0559387207031;
  }
}

@keyframes path-2 {
  0% {
    stroke-dashoffset: 221.47203063964844;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset:221.47203063964844;
  }
}

@keyframes path-3 {
  0% {
    stroke-dashoffset: 613.442749023437;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 613.442749023437;
  }
}

@keyframes path-4 {
  0% {
    stroke-dashoffset: 326.978394;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 326.978394;
  }
}

@keyframes path-5 {
  0% {
    stroke-dashoffset: 406.88147;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 406.88147;
  }
}


@keyframes fill-1 {
 0% {
   fill: transparent;
 }
  50% {
    fill: rgba(255, 0, 0, 0.50);
  }
  100% {
    fill: transparent;
  }
}

@keyframes fill-2 {
  0% {
    fill: transparent;
  }
  50% {
    fill: rgba(255, 165, 0, 0.5);
  }
  100% {
    fill: transparent;
  }
}

@keyframes fill-3 {
  0% {
    fill: transparent;
  }
  50% {
    fill: rgba(255, 255, 0, 0.5);
  }
  100% {
    fill: transparent;
  }
}

@keyframes fill-4 {
  0% {
    fill: transparent;
  }
  50% {
    fill: rgba(0, 128, 0, 0.5);
  }
  100% {
    fill: transparent;
  }
}

@keyframes fill-5 {
  0% {
    fill: transparent;
  }
  50% {
    fill: rgba(0, 0, 255, 0.5);
  }
  100% {
    fill: transparent;
  }
}
