@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin expand($length, $delay) {
  @keyframes width {
    from {
      width: 0;
    }
    to {
      width: $length;
    }
  }
  animation: opacity .5s ease-in $delay forwards, width .25s linear $delay forwards;
}

@mixin fadeIn() {
  @keyframes scale {
    from {
      transform: scale(.95);
    }
    to {
      transform: scale(1);
    }
  }

  animation: opacity .45s ease-in forwards, scale .25s ease-in forwards;
}