.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  align-self: center;
  padding: 3em 3em 0 3em;
  border-radius: 1em !important;

  form {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
      margin-bottom: 1em;
    }

    .link-and-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2em 0;

      .button {
        width: fit-content;
        justify-self: end;
      }

      button.button {
        color: white;
      }
    }
  }
}
