.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  position: relative;

  .local {
    border-radius: 4px !important;
  }

  .google {
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 1em 2.5em 0 2.5em;

    > *:first-child {
      margin-bottom: 1em;
    }

    .link-and-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 2em 0;

      .button {
        width: fit-content;
        justify-self: end;
      }

      button.button {
        color: white;
      }
    }
  }
}
