.profile-button {
  width: 66px;
  overflow: hidden;
  transition: width .2s linear;
  display: flex;

  &.OPEN {
    width: 275px;

    .profile-container .description {
      transition: height 0s linear .2s, opacity .2s ease-out .2s;
      height: 50px;
      opacity: 1;
    }
  }

  .profile-container {
    display: flex;
    box-sizing: border-box;
    background-color: var(--bg-color);
    padding: .5em;
    --border-radius: 4px;
    width: 100%;
    border-radius: var(--border-radius);

    .profile-icon {
      --length: 50px;
      height: var(--length);
      width: var(--length);
      border-radius: var(--border-radius);
      flex: none;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: .5em;
      transition: opacity .2s linear .1s;
      opacity: 0;
      height: 0;
      overflow: hidden;

      .name {
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: .5em;
      }

      .tags {
        display: flex;
        font-size: .75em;
        opacity: .5;
        flex-wrap: wrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .tag {
          font-style: italic;
          max-width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          padding-bottom: 3px;

          &:not(:last-child) {
            margin-right: .5em;
          }
        }
      }
    }
  }
}