.header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 8px 0 0;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: var(--header-height);
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
  border-radius: 0 !important;

  .image-icon{
    height: var(--img-len);
    width: var(--img-len);
    border-radius: 4px;
    object-fit: contain;
  }

  .home, .login {
    font-weight: 100;
    padding: 8px;
    color: #0000009c;
    border-bottom: 1px solid transparent;
    transition: border-color .2s linear, transform .2s linear;
    transform: scale(1);

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      border-color: rgba(0, 0, 0, 0.26);
    }
  }

  .login {
    margin-right: 12px;
  }

  .left {
    height: 100%;
    display: flex;
    align-items: center;

    svg.icon {
      height: 40px;
      width: 40px;
      padding: 12px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .search {
    width: 273px;
    height: 40px;
    justify-content: center;

    input {
      font-size: .9rem;
    }
  }

  .button {
    background-color: transparent;
    transition: background-color .25s linear;
    border-radius: 4px;
    display: flex;
    height: 43px;
    box-sizing: border-box;
    align-items: center;

    &:hover, &.hover {
      cursor: pointer;
      background-color: var(--button-backround-color);
    }

    svg {
      --len: 30px;
      height: var(--len);
      width: var(--len);
      fill: #65676b91;
    }
  }

  .main-button {
    --img-len: 35px;
    padding: 4px;


    .name {
      margin: 0 .5em;
      text-transform: capitalize;
      font-weight: normal;
    }

    .menu-enter {
      opacity: 0;
    }

    .menu-enter-done {
      opacity: 1;
    }

    .menu-exit {
      opacity: 0;
    }
  }

  .menu-option {
    padding: 0;
    display: flex;
    opacity: 1;
    border-radius: 0;
    transition: opacity .1s;
    position: absolute;
    flex-direction: column;
    bottom: -96px;
    right: .5em;
    z-index: 2;

    .option {
      display: flex;
      padding: .5em;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0,0,0,.1);
      }

      .label {
        padding: .5em 1em;
        flex-grow: 1;
        background-color: white;
        transition: background-color .1s linear;

        &.primary {
          color: var(--primary-color);
          font-weight: 600;

          &:hover {
            background-color: var(--primary-50);
          }
        }

        &.secondary {
          font-size: .75em;
          color: gray;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.spacer {
  height: 30px;
  width: 1px;
  background-color: var(--default-text-color);
}